/.vscode/
.idea

.DS_Store

# goreleaser builds folder
/.builds/

# tests coverage
coverage.out

# plaintask todo files
*.todo

# generated markdown previews
README.html
CHANGELOG.html
CHANGELOG_16_22.html
CHANGELOG_8_15.html
LICENSE.html

# Docker environment and data
.env
pb_data/
pb_public/
pb_hooks/
pb_migrations/

# Local Docker testing
docker-compose.local.yml
data/
